<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
    <link rel="stylesheet" href="/styles/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Satisfy&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Satisfy&display=swap" rel="stylesheet">
    
</head>
<body>
    <form id="welcome" >
        <div class="logo">
            <img src="/images/chatterBox_1-removebg-preview.png" alt="">
         </div>
         <div class="title">
             <h2>Welcome to ChatterBox</h2>
 
             <p>A vibrant, user-friendly space to connect, share, and chat seamlessly.</p>
 
         </div>
 
         <a href="/users/login">Get Started</a>
 
         <p>Version 0.1</p>

    </form>
        

    
    
</body>
</html>