
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatterBox</title>
    <link rel="stylesheet" href="/styles/style.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Satisfy&family=VT323&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">


    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div class="top_baar">
        
        <img src="/images/chat-logo.jpg" alt="">
        <h2>ChatterBox</h2>
    </div>
    <div id="main">
        <div class="box_menu"> 
            <div class="top_icon">
                <i class="ri-menu-line"></i>
            <i class="ri-chat-1-line"></i>
            <i class="ri-phone-line"></i>
            <div class="line"></div>
            </div>

            <div class="bottom_icon">
                <i class="ri-star-line"></i> 
                <i class="ri-archive-line"></i>
                <div class="line"></div>
                <i class="ri-settings-2-line"></i> 
                <i class="ri-profile-line"></i>
            </div>
        </div>
         
        <div id="box_left">
          <div class="box_left_top">
             <div class="box1">
                <div class="box1_left">
                    <h2>Chat</h2>

                </div>
               
               <div class="icon">
                <i class="ri-chat-new-line"></i>
                <i class="ri-filter-3-line"></i>
               </div> 
             </div>
            <div class="box2">
                <i class="ri-search-line"></i>
                    <input type="search" name="q" placeholder= "Search or start a new chat..." required> 
            </div> 
          </div>

        <form  id="card_box" action="">
                    
            
            
            <div class="card" id="card1">
                <div  class="card_profile" >

                    <img src="https://imgs.search.brave.com/NIf7r0iorPdprVQ4xc6x_9qp3qxAFC7W8IrKBKcTf5g/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jb21i/by5zdGF0aWNmbGlj/a3IuY29tLzY2YTAz/MWY5ZmMzNDNjNWU0/MmQ5NjVjYS82NmEz/ZjA3MWE2YmU4OTFj/MzYwMWU2NzlfcGhv/dG8tOS1obS5hdmlm" alt="">
                    <h5>Vikash kumar</h5>

                </div>
            </div>

            <div class="card" id="card2">
  
            </div>
          
        </form> 
          
       </div>
    <div id="box_right">
          <div class="box_right_top">
             <div class="profile">

             </div>
          </div>
              <div class="message_left_baar">

              </div>
        <div class="box_right_buttom">
            <div class="buttom_box">
                <i class="ri-emoji-sticker-line"></i>
                <i class="ri-attachment-line"></i>
            </div> 
             <div class="type_message">
              <input type="search" name="q" placeholder= "Type a message..." required> 
                 <div class="send_sms">
                    <i class="ri-send-plane-fill"></i>
                 </div>
             </div> 
             
        </div>

    </div>
    </div>

</body>
</html>